name: GLua Lint
run-name: lint

on:
  - push
  - pull_request
  
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: GLua Linter
        uses: talemke/action-glua-lint@v1.1.4
